@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import "colours.css";
@import "global.css";
@import "themes.css";
@import "responsive.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*background-color: var(--bg-pri);*/
  color: var(--txt-pri);
}

body {
  /*font-family: 'Work Sans', sans-serif;*/
  /*font-family: 'Quicksand', sans-serif;*/
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
}

.app {
  background-color: var(--bg-pri);
  color: var(--txt-pri);
  transition: var(--std-transition);
  max-height: calc(100vh - var(--navbar-height));
}

.subnav {
  margin-top: calc(var(--navbar-height) + 25px);
  min-height: 88vh;
}

button {
  background-color: var(--btn-pri-bg);
  color: var(--txt-pri);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

li {
  cursor: pointer;
}

.avatar-hovered-app {
  transition: var(--std-transition);
  background-color: var(--turquoise-400);
}

.all-pages {
  transition: var(--std-transition);
}

.burger-open-spacer {
  transition: var(--std-transition);
}
