@media (max-width: 1350px) {
  .nav-container {
    width: 95vw;
  }
  .project-box,
  .about-box {
    width: 94vw;
  }
}

@media (max-width: 1250px) {
  :root {
    --nav-title-btn-width: 180px;
  }
  .nav-title h1 {
    font-size: 1.8rem;
  }
}

@media (max-width: 1200px) {
  :root {
    --nav-title-btn-width: 160px;
    --nav-btn-height: 57px;
  }
  .nav-title h1 {
    font-size: 1.55rem;
  }
  .nav-title {
    line-height: 0.9;
  }
  .github-logo {
    max-height: 45px;
  }
  .nav-btn {
    font-size: 0.8rem;
    min-width: 65px;
    margin: 0 3px;
  }
  .nav-container {
    height: calc(var(--navbar-height) - 10px);
  }
  .project-box,
  .about-box {
    margin: calc(var(--navbar-height) - 15px) auto 0;
  }
}

@media (max-width: 1080px) {
  :root {
    --nav-title-btn-width: 215px;
    --nav-btn-height: 54px;
  }
  .nav-section-link {
    min-width: 100px;
    font-size: 1.1rem;
  }
  .nav-title h1 {
    font-size: 2.1rem;
  }
  .github-logo {
    max-height: 40px;
  }
  .linkedIn-logo {
    max-height: 35px;
  }
  .nav-container {
    height: calc(var(--navbar-height) - 12px);
  }
}

@media (max-width: 950px) {
  .nav-title {
    height: 52px;
    max-width: 225px;
    line-height: 0.85;
  }
  .logo-image {
    max-width: 50px;
  }
  .nav-container {
    height: calc(var(--navbar-height) - 15px);
  }
  .nav-list {
    justify-content: flex-end;
  }
  .burger-open-spacer {
    padding-top: 70px;
  }
}

/* HAMBURGER SPLITS INTO TWO ROWS */
/* EXTERNAL LINKS DROP INTO HAMBURGER MENU */
@media (max-width: 650px) {
  .nav-section-link {
    height: 52px;
  }
  .burger-open-spacer {
    padding-top: 145px;
  }
}

@media (max-width: 500px) {
  .hamburger-blocks-container {
    width: 400px;
  }
}

@media (max-width: 430px) {
  .hamburger-blocks-container {
    width: 300px;
  }
  .burger-open-spacer {
    padding-top: 220px;
  }
}

/* SECTION LINK BUTTON GOES INTO BURGER MENU */
@media (max-width: 390px) {
  .hamburger-blocks-container {
    width: 350px;
  }
}

@media (max-width: 330px) {
  .hamburger-blocks-container {
    width: 300px;
  }
  .burger-open-spacer {
    padding-top: 290px;
  }
}

@media (max-width: 260px) {
  .hamburger-blocks-container {
    width: 200px;
  }
  .burger-open-spacer {
    padding-top: 365px;
  }
}

/* SINGLE PROJECT/ABOUT PAGE RESPONSIVENESS */

@media (max-width: 1300px) {
  #single-subject-page {
    max-width: 1000px;
  }
  /* LEFT SIDE */
  #single-subject-headers-and-description-1 {
    flex: 1 0 314px;
  }
  #single-subject-title {
    font-size: 1.9rem;
  }
  #single-subject-subheading {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  #single-project-tech-badges {
    margin-bottom: 10px;
    font-weight: 400;
  }
  .project-text {
    font-size: 1.2rem;
  }
  /* RIGHT SIDE */
  #iframe-container {
    flex: 1 1 666px;
  }
  #feature-iframe {
    height: 600px;
  }
  /* IFRAME BUTTONS & ICONS */
  .panel-buttons button {
    font-size: 1rem;
  }
  .btn {
    height: 35px;
  }
  #responsiveness-btn {
    display: none;
  }
  .github-btn-logo {
    height: 16px;
  }
  .new-tab-btn-logo {
    height: 14px;
  }
  .arrow-icon {
    font-size: 16px;
  }
  .return-icon {
    font-size: 16px;
  }
}

@media (max-width: 1050px) {
  #single-subject-page {
    max-width: 850px;
  }
  /* LEFT SIDE */
  #single-subject-headers-and-description-1 {
    flex: 1 0 280px;
  }
  #single-subject-title {
    font-size: 1.7rem;
  }
  #single-subject-subheading {
    margin-bottom: 20px;
    font-size: 1.2rem;
  }
  #single-project-tech-badges {
    margin-bottom: 10px;
    font-weight: 400;
  }
  .project-text {
    font-size: 1.18rem;
    margin-bottom: 12px;
  }
  .emphasise {
    font-size: 1.2rem;
  }
  /* RIGHT SIDE */
  #iframe-container {
    flex: 1 1 630px;
  }
  #feature-iframe {
    height: 600px;
  }
  /* IFRAME BUTTONS & ICONS */
  .panel-buttons button {
    font-size: 0.9rem;
  }
  .btn {
    height: 32px;
  }
  #responsiveness-btn {
    display: none;
  }
  .github-btn-logo {
    height: 14px;
  }
  .new-tab-btn-logo {
    height: 12px;
  }
  .arrow-icon {
    font-size: 14px;
  }
  .return-icon {
    font-size: 14px;
  }
}

@media (max-width: 950px) {
  /* IFRAME BUTTONS & ICONS */
  .panel-buttons button {
    font-size: 0.8rem;
  }
  .btn {
    height: 30px;
    padding: 5px;
  }
  .github-btn-logo {
    height: 13px;
  }
  .new-tab-btn-logo {
    height: 11px;
  }
  .arrow-icon {
    font-size: 13px;
  }
  .return-icon {
    font-size: 13px;
  }
}

/* PAGE BECOMES A SINGLE COLUMN */
@media (max-width: 870px) {
  #single-subject-upper-section {
    flex-direction: column;
  }
  #single-subject-page {
    max-width: 850px;
  }
  /* LEFT SIDE */
  #single-subject-headers-and-description-1 {
    flex: 1 0 280px;
  }
  #single-subject-title {
    font-size: 1.7rem;
  }
  #single-subject-subheading {
    margin-bottom: 20px;
    font-size: 1.2rem;
  }
  #single-project-tech-badges {
    display: none;
  }
  .project-text {
    font-size: 1.18rem;
    margin-bottom: 12px;
  }
  .emphasise {
    font-size: 1.2rem;
  }
  /* RIGHT SIDE */
  #iframe-container {
    flex: 1 1 630px;
  }
  #feature-iframe {
    height: 600px;
  }
  /* IFRAME BUTTONS & ICONS */
  .panel-buttons button {
    font-size: 0.8rem;
  }
  .btn {
    height: 30px;
    padding: 5px;
  }
  .github-btn-logo {
    height: 13px;
  }
  .new-tab-btn-logo {
    height: 11px;
  }
  .arrow-icon {
    font-size: 13px;
  }
  .return-icon {
    font-size: 13px;
  }
}
