.hamburger-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  margin-right: 5px;
}

.hamburger {
  cursor: pointer;
}

.burger-bar {
  display: block;
  width: 35px;
  height: 4px;
  margin: 5px auto;
  -webkit-transition: var(--std-transition);
  transition: var(--std-transition);
  z-index: 1;
  background-color: var(--sea-green-800-dull);
  border: 1px solid var(--sea-green-800-dull);
}

.hamburger:hover .burger-bar {
  background-color: var(--green-600);
  border: 1px solid var(--green-600);
}

.hamburger .pattie.burger-open {
  opacity: 0;
}

.hamburger .bun-top.burger-open {
  transform: translateY(9px) rotate(-45deg);
}

.hamburger .bun-base.burger-open {
  transform: translateY(-9px) rotate(45deg);
}

.hamburger:hover .pattie {
  transform: rotate(90deg);
  opacity: 1;
}

.hamburger:hover .bun-top {
  transform: translateY(9px) rotate(-30deg);
}

.hamburger:hover .bun-base {
  transform: translateY(-9px) rotate(30deg);
}

/*.burger-bar-retro {*/
/*  background-color: var(--sea-green-800-dull);*/
/*  border: 1px solid var(--sea-green-800-dull);*/
/*}*/
/*.burger-bar-dark {*/
/*  background-color: var(--sea-green-800-dull);*/
/*  border: 1px solid var(--sea-green-800-dull);*/
/*}*/

/*.hamburger:hover .burger-bar-retro {*/
/*  background-color: var(--green-600);*/
/*  border: 1px solid var(--green-600);*/
/*}*/
/*.hamburger:hover .burger-bar-dark {*/
/*  background-color: var(--green-600);*/
/*  border: 1px solid var(--green-600);*/
/*}*/
