/* UNDER NAVBAR BORDERS inc FADE BORDER */

.nav-border-bar-1 {
  height: 1px;
  background-color: var(--nav-border-1);
}

.nav-border-bar-2 {
  height: 4px;
  background-color: var(--nav-border-2);
  transition: background-color 2s ease;
}

.avatar-hovered-nav-border-bar-2 {
  transition: background-color 2s ease;
  background-color: var(--pink-500);
}

.nav-border-bar-3 {
  height: 25px;
  background: linear-gradient(
    to bottom,
    var(--blue-100) 0%,
    var(--blue-100-0) 100%
  );
}

/*.nav-border-bar-3-retro {*/
/*  background: linear-gradient(*/
/*    to bottom,*/
/*    var(--nav-bottom-bar-3-retro-pt1) 0%,*/
/*    var(--nav-bottom-bar-3-retro-pt2) 100%*/
/*  );*/
/*}*/
/*.nav-border-bar-3-dark {*/
/*  background: linear-gradient(*/
/*    to bottom,*/
/*    var(--nav-bottom-bar-3-dark-pt1) 0%,*/
/*    var(--nav-bottom-bar-3-dark-pt2) 100%*/
/*  );*/
/*}*/

.avatar-hovered-nav-border-bar-3 {
  background: linear-gradient(
    to bottom,
    var(--turquoise-200) 0%,
    var(--turquoise-200-0) 100%
  );
}

/* MAIN NAVBAR STYLING */

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-size: cover;
  z-index: 1000;
  background-color: var(--nav-background);
  transition: background-color 2s ease;
}

/*.nav-retro {*/
/*  background-color: var(--nav-back-retro);*/
/*  transition: background-color 2s ease;*/
/*}*/
/*.nav-dark {*/
/*  background-color: var(--nav-back-dark);*/
/*  transition: background-color 2s ease;*/
/*}*/

.avatar-hovered-navbar {
  transition: background-color 2s ease;
  background-color: var(--grey-blue-1300);
}

.nav-container {
  /* outer container for all NAVBAR elements */
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: calc(var(--app-max-width) + (2 * var(--nav-side-padding)) + 200px);
  width: var(
    --nav-container-width
  ); /* USE SAME SETTING for .nav-container, .gallery-container, .focus-container & .footer-container */
  margin: 0 auto;
  padding: 0 var(--nav-side-padding);
  overflow: hidden;
  height: var(--navbar-height);
}

/* NAV RIGHT - NAVLIST containing LINK BUTTONS */
