.nav-left {
  display: flex;
  align-items: center;
  height: inherit;
}

/* LOGO (AVATAR) */
.logo-image {
  max-width: var(--nav-btn-height);
  margin-right: 15px;
  opacity: 0.9;
  transition: opacity 2s ease;
  cursor: none;
  border-radius: 100%;
}

.logo-image-dark {
  border: 1px solid var(--whitish-300);
  box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.9);
}

.avatar-hovered-avatar {
  opacity: 0.1;
}

/* TITLE (CURRENT SECTION BTN) */
.nav-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 400px;
  text-align: center;
  height: var(--nav-btn-height);
  border-radius: 15px;
  /*padding: 5px;*/
  transition: all 0.5s ease;
  cursor: pointer;
  margin-right: 5px;
  max-width: var(--nav-title-btn-width);
  min-width: var(--nav-title-btn-width);
  background-color: var(--nav-section-btn-background);
  border: 1px var(--nav-link-btn-border) solid;
}

.nav-title:hover {
  transition: all 0.5s ease;
  background-color: var(--nav-link-btn-background-hover);
  color: var(--nav-link-btn-text-hover);
  border: 1px var(--nav-link-btn-border-hover) solid;
}

nav h1 {
  font-size: 2.2rem;
  font-weight: normal;
  color: var(--nav-link-btn-text);
}

/* CURRENT SECTION TOPIC LINK BTN LIST */
.nav-list {
  display: flex;
  justify-content: flex-start;
  max-width: 600px;
}

.nav-list p {
  font-size: 1.1rem;
  font-weight: bold;
}

/* CURRENT SECTION TOPIC LINK BTNS */
.nav-btn {
  flex: 0 0;
  text-align: center;
  margin: 0 4px;
  /* Any change made to margin should also be made to margin in .github-link-btn  */
  border-radius: 15px;
  padding: 5px 3px;
  font-weight: 500;
  font-size: 0.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: var(--nav-link-width);
  height: var(--nav-btn-height);
  transition: all 1s ease-in-out;
  cursor: pointer;
  border: 1px var(--nav-link-btn-border) solid;
  background-color: var(--nav-link-btn-background);
  color: var(--nav-link-btn-text);
}

.nav-link {
  transition: all 0.5s ease;
}

.nav-link:hover {
  background-color: var(--nav-link-btn-background-hover);
  color: var(--nav-link-btn-text-hover);
  border: 1px var(--nav-link-btn-border-hover) solid;
}

/*.nav-title-retro {*/
/*  background-color: var(--nav-dark-btn-back-retro);*/
/*  color: var(--nav-dark-btn-text-retro);*/
/*  border: 1px var(--nav-dark-btn-border-retro) solid;*/
/*}*/
/*.nav-title-dark {*/
/*  background-color: var(--nav-dark-btn-back-dark);*/
/*  color: var(--nav-dark-btn-text-dark);*/
/*  border: 1px var(--nav-dark-btn-border-dark) solid;*/
/*}*/

/*.nav-title-retro:hover {*/
/*  background-color: var(--navText-darker);*/
/*  color: var(--lime-300);*/
/*  border: 1px var(--sea-green-400) solid;*/
/*}*/
/*.nav-title-dark:hover {*/
/*  background-color: var(--nav-dark-btn-back-hover-dark);*/
/*  color: var(--nav-dark-btn-text-hover-dark);*/
/*  border: 1px var(--sea-green-400) solid;*/
/*}*/

/*.avatar-hovered-nav-title {*/
/*  transition:*/
/*    background-color 2s ease,*/
/*    border 2s ease,*/
/*    color 2s ease;*/
/*  background-color: var(--grey-blue-1300);*/
/*  border: 1px var(--grey-blue-1300) solid;*/
/*  color: var(--lime-300);*/
/*}*/

/*.nav-btn-retro {*/
/*  border: 1px var(--nav-light-btn-border-retro) solid;*/
/*}*/
/*.nav-btn-dark {*/
/*  border: 1px var(--nav-light-btn-border-dark) solid;*/
/*}*/

/*.nav-link-retro {*/
/*  background-color: var(--nav-light-btn-back-retro);*/
/*  color: var(--nav-light-btn-text-retro);*/
/*}*/
/*.nav-link-dark {*/
/*  background-color: var(--nav-light-btn-back-dark);*/
/*  color: var(--nav-light-btn-text-dark);*/
/*}*/

/*.nav-link-retro:hover {*/
/*  background-color: var(--nav-light-btn-back-hover-retro);*/
/*  color: var(--nav-light-btn-text-hover-retro);*/
/*  border: 1px var(--nav-light-btn-border-hover-retro) solid;*/
/*}*/
/*.nav-link-dark:hover {*/
/*  background-color: var(--nav-light-btn-back-hover-dark);*/
/*  color: var(--nav-light-btn-text-hover-dark);*/
/*  border: 1px var(--nav-light-btn-border-hover-dark) solid;*/
/*}*/
/*.nav-link-simple:hover {*/
/*  background-color: var(--nav-light-btn-back-hover-retro);*/
/*  color: var(--nav-light-btn-text-hover-retro);*/
/*  border: 1px var(--nav-light-btn-border-hover-retro) solid;*/
/*}*/

/*.avatar-hovered-nav-link {*/
/*  transition:*/
/*    background-color 0.5s ease,*/
/*    border 0.5s ease,*/
/*    color 0.5s ease;*/
/*  background-color: var(--grey-blue-1300);*/
/*  border: 1px var(--leaf-1100) solid;*/
/*  color: var(--lime-500);*/
/*}*/
