.nav-right {
  display: flex;
  justify-content: end;
}

/* NOTE: For .nav-btn see NavLeft.css */

/* LINK TO OTHER SECTION */
.nav-section-link {
  transition: var(--std-transition);
  text-decoration: none;
  background-color: var(--nav-section-btn-bg);
  color: var(--nav-btn-txt);
  min-width: var(--nav-btn-width);
}

.nav-section-link:hover {
  background-color: var(--nav-section-btn-bg-hvr);
  color: var(--nav-btn-txt-hvr);
  border: 1px var(--nav-btn-brd-hvr) solid;
}

/* GITHUB LINK BTN */
.github-link-btn {
  cursor: url("./navCursors/looking-glass.png"), auto;
  background-color: var(--github-bg);
  border: 1px var(--github-brd) solid;
}

.github-link-btn:hover {
  background-color: var(--github-bg-hvr);
  border: 1px var(--github-brd-hvr) solid;
}

.github-logo {
  max-height: 50px;
  transition: var(--std-transition);
  opacity: var(--github-logo-opacity);
  filter: invert(var(--github-logo-inversion));
}

.github-link-btn:hover .github-logo {
  transition: var(--std-transition);
  opacity: var(--github-logo-opacity-hvr);
}

/* LINKEDIN LINK BTN */
.linkedIn-link-btn {
  transition: var(--std-transition);
  cursor: url("./navCursors/looking-glass.png"), auto;
}

.linkedIn-link-btn {
  background-color: var(--linkedIn-bg);
  border: 1px var(--linkedIn-brd) solid;
}

.linkedIn-link-btn:hover {
  background-color: var(--linkedIn-blue);
  border: 1px var(--linkedIn-brd-hvr) solid;
}

.linkedIn-logo {
  max-height: 40px;
  transition: var(--std-transition);
  opacity: var(--linkedIn-logo-opacity);
}

.linkedIn-link-btn:hover .linkedIn-logo {
  opacity: var(--linkedIn-logo-opacity-hvr);
}

/* THEME BTN */
.theme-btn {
  background: var(--theme-btn-bg);
}

.theme-btn:hover {
  background: var(--theme-btn-bg-hvr);
}

/* SETTINGS BTN */
.settings-btn {
  cursor: url("./navCursors/smallaxe.png"), auto;
}

.settings-icon-dark {
  filter: invert(0);
}

.settings-btn-dark:hover .settings-icon-dark {
  filter: invert(1);
}

.rotate {
  transform: rotate(720deg);
}

/*.nav-section-link-retro {*/
/*  background-color: var(--nav-dark-btn-back-retro);*/
/*  color: var(--nav-dark-btn-text-retro);*/
/*}*/
/*.nav-section-link-dark {*/
/*  background-color: var(--nav-dark-btn-back-dark);*/
/*  color: var(--nav-dark-btn-text-dark);*/
/*}*/

/*.nav-section-link-retro:hover {*/
/*  background-color: var(--nav-light-btn-text-hover-retro);*/
/*  color: var(--nav-dark-btn-text-hover-retro);*/
/*}*/

/*.nav-section-link-dark:hover {*/
/*  background-color: var(--nav-dark-btn-back-hover-dark);*/
/*  color: var(--nav-dark-btn-text-hover-dark);*/
/*}*/

/*.github-link-btn-retro {*/
/*  background-color: var(--nav-light-btn-back-retro);*/
/*}*/
/*.github-link-btn-dark {*/
/*  background-color: var(--nav-light-btn-back-dark);*/
/*}*/

/*.github-link-btn-retro:hover {*/
/*  background-color: var(--github-back-hover-retro);*/
/*  border: 1px var(--github-brd-hover-retro) solid;*/
/*}*/
/*.github-link-btn-dark:hover {*/
/*  background-color: var(--github-back-hover-dark);*/
/*  border: 1px var(--github-brd-hover-dark) solid;*/
/*}*/

/*.linkedIn-link-btn-dark {*/
/*  background-color: var(--linkedIn-back-dark);*/
/*  border: 1px var(--linkedIn-brd-dark) solid;*/
/*}*/

/*.avatar-hovered-github-link {*/
/*  transition:*/
/*    background-color 2s ease,*/
/*    border 2s ease;*/
/*  background-color: var(--grey-blue-1300);*/
/*  border: 1px var(--leaf-1100) solid;*/
/*}*/

/*.avatar-hovered-linkedIn-logo {*/
/*  transition: opacity 3s ease;*/
/*  opacity: 0.1;*/
/*}*/
