.nav-section-link {
  transition: all 0.5s ease;
  text-decoration: none;
  background-color: var(--nav-section-btn-background);
  color: var(--nav-link-btn-text);
}

.nav-section-link:hover {
  background-color: var(--nav-link-btn-background-hover);
  color: var(--nav-link-btn-text-hover);
  border: 1px var(--nav-section-btn-background-hover) solid;
}

.avatar-hovered-nav-section-link {
  transition:
    background-color 0.5s ease,
    border 0.5s ease,
    color 0.5s ease;
  background-color: var(--grey-blue-1300);
  border: 1px var(--leaf-1100) solid;
  color: var(--lime-500);
}

.github-link-btn {
  cursor: url("./navCursors/looking-glass.png"), auto;
  background-color: var(--github-background);
  border: 1px var(--github-border) solid;
}

.github-link-btn:hover {
  background-color: var(--github-background-hover);
  border: 1px var(--github-border-hover) solid;
}

.github-link-btn:hover .github-logo {
  transition: all 0.5s ease;
  opacity: 1;
}

.github-logo {
  max-height: 50px;
  transition: all 2s ease-in-out;
  opacity: 0.6;
}

.github-logo-dark {
  opacity: 1;
  filter: invert(0.7);
}

.github-link-btn:hover .github-logo-dark {
  filter: invert(0);
}

.settings-icon-dark {
  filter: invert(0);
}

.settings-btn-dark:hover .settings-icon-dark {
  filter: invert(1);
}

.linkedIn-link-btn {
  transition: background-color 1s ease;
  cursor: url("./navCursors/looking-glass.png"), auto;
}

.linkedIn-link-btn {
  background-color: var(--linkedIn-background);
  border: 1px var(--linkedIn-border) solid;
}

.linkedIn-link-btn:hover {
  background-color: var(--linkedIn-blue);
  border: 1px var(--linkedIn-border-hover) solid;
}

.linkedIn-logo {
  max-height: 40px;
  transition: opacity 3s ease;
  opacity: 1;
}

.settings-btn {
  cursor: url("./navCursors/smallaxe.png"), auto;
}

.rotate {
  transform: rotate(720deg);
}

/*.nav-section-link-retro {*/
/*  background-color: var(--nav-dark-btn-back-retro);*/
/*  color: var(--nav-dark-btn-text-retro);*/
/*}*/
/*.nav-section-link-dark {*/
/*  background-color: var(--nav-dark-btn-back-dark);*/
/*  color: var(--nav-dark-btn-text-dark);*/
/*}*/

/*.nav-section-link-retro:hover {*/
/*  background-color: var(--nav-light-btn-text-hover-retro);*/
/*  color: var(--nav-dark-btn-text-hover-retro);*/
/*}*/

/*.nav-section-link-dark:hover {*/
/*  background-color: var(--nav-dark-btn-back-hover-dark);*/
/*  color: var(--nav-dark-btn-text-hover-dark);*/
/*}*/

/*.github-link-btn-retro {*/
/*  background-color: var(--nav-light-btn-back-retro);*/
/*}*/
/*.github-link-btn-dark {*/
/*  background-color: var(--nav-light-btn-back-dark);*/
/*}*/

/*.github-link-btn-retro:hover {*/
/*  background-color: var(--github-back-hover-retro);*/
/*  border: 1px var(--github-border-hover-retro) solid;*/
/*}*/
/*.github-link-btn-dark:hover {*/
/*  background-color: var(--github-back-hover-dark);*/
/*  border: 1px var(--github-border-hover-dark) solid;*/
/*}*/

/*.linkedIn-link-btn-dark {*/
/*  background-color: var(--linkedIn-back-dark);*/
/*  border: 1px var(--linkedIn-border-dark) solid;*/
/*}*/

/*.avatar-hovered-github-link {*/
/*  transition:*/
/*    background-color 2s ease,*/
/*    border 2s ease;*/
/*  background-color: var(--grey-blue-1300);*/
/*  border: 1px var(--leaf-1100) solid;*/
/*}*/

/*.avatar-hovered-linkedIn-logo {*/
/*  transition: opacity 3s ease;*/
/*  opacity: 0.1;*/
/*}*/
